@font-face {
    font-family: Montserrat-Light;
    src: url(../font/Montserrat-Light.otf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../font/Montserrat-Medium.otf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../font/Montserrat-Bold.otf);
}
